<div class="row">
  <div class="container">
    <div class="logo_proyecto">
      <img src="../../../assets/ArgProgLogo-20-20.png" id="logo_argprog" />
    </div>

    <div class="redes_proyecto">     
        <a href=""><img src="../../../assets/instagram.png" alt="" /></a>
        <a href=""><img src="../../../assets/github.png" alt="" /></a>
        
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged" >LOG IN</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>

      </div>    
  </div>
</div>
