<div class="row">
  <div class="container">
    <div class="logo_proyecto">
      <img src="../../../assets/ArgProgLogo-20-20.png" id="logo_argprog" />
    </div>

    <div class="redes_proyecto">     
        <a href=""><img src="../../../assets/facebook.png" alt="" /></a>
        <a href=""><img src="../../../assets/github.png" alt="" /></a>
        <a href=""><img src="../../../assets/facebook.png" alt="" /></a>
        <a href=""><img src="../../../assets/github.png" alt="" /></a>
        <a ><button type="button" class="btn btn-outline-light">LOG IN</button>        </a>
      </div>    
  </div>
</div>
