.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes_proyecto{
    margin-right: 0.5em;
}
#logo_argprog{
    width:150px;
}


img{
    width:50px;
    
}
.btn{
    
    margin-left: 0.5em;
    border-width: medium;
}


/* celular */
@media (max-width:575px){
.container{
    flex-direction: column;
}
}

