<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-1">

    </div>
    
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, omnis. Esse, odit eum. Vitae atque perspiciatis alias similique commodi, accusantium natus mollitia modi quia nam ipsa distinctio aut nostrum officia!</p>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, omnis. Esse, odit eum. Vitae atque perspiciatis alias similique commodi, accusantium natus mollitia modi quia nam ipsa distinctio aut nostrum officia!</p>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, omnis. Esse, odit eum. Vitae atque perspiciatis alias similique commodi, accusantium natus mollitia modi quia nam ipsa distinctio aut nostrum officia!</p>
        </ul>

    </div>
</div>