<div class="row">
  <h1>--Proyectos--</h1>
  <div class="proyecto_contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7  proyecto_texto">
      <h1>Portfolio #YOPROGRAMO</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam,
        fugiat obcaecati. Beatae obcaecati hic saepe veritatis nostrum tempore
        cupiditate voluptate quae blanditiis sunt provident nobis molestiae, eum
        illo expedita quidem?
      </p>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 proyecto_imagen">
        <img src="../../../assets/Captura.JPG" class="img-fluid proyecto_img">
    </div>
  </div>
</div>
