<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        title="HTML"
        [titleColor]="'FFFFFF'"
        [titleFontSize]="'1.5em'"
        [unitsFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        title="ANGULAR"
        [titleColor]="'FFFFFF'"
        [titleFontSize]="'1.5em'"
        [unitsFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        title="SQL SERVER"
        [titleColor]="'FFFFFF'"
        [titleFontSize]="'1.5em'"
        [unitsFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        title="MYSQL"
        [titleColor]="'FFFFFF'"
        [titleFontSize]="'1.5em'"
        [unitsFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        title="JAVASCRIPT"
        [titleColor]="'FFFFFF'"
        [titleFontSize]="'1.5em'"
        [unitsFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        title="TYPESCRIPT"
        [titleColor]="'FFFFFF'"
        [titleFontSize]="'1.5em'"
        [unitsFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>


</div>
