.row{
    padding: 20px;
}

div{
    background-color: #e8f3fa;
    text-align: center;
}
/* propiedades fotoperfil */
@media(min-width: 576px){
    #perfil-pic{
        
        border-radius:100% ;
        box-shadow: 3px 3px 3px grey;
        /*
        position: absolute;
        width: 13.5%;
        left: 3%;
        */
        /*top:400px;*/ /* movimiento de fotoperfil arriba */

    }
}

@media(max-width: 576px){
    #perfil-pic{
        position: absolute;
        width: 33%;
        border-radius:100% ;
        box-shadow: 3px 3px 3px grey;
        left: 30%;
        top:450px; /* movimiento de fotoperfil arriba */

    }
}


/* propiedades nombre */
#nombre{
   
    font-weight: bold;
    margin-top: 10%;

}